@charset "ISO-8859-1";
{
	margin: 0;
	padding: 0;
}
body
{
	
	font-family: sans-serif;
}

#nav-bar
{
	
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar
{
	background-color: #f8c427;
	padding: 0 !important;
}

.navbar-brand img
{
	height: 60px;
	padding-left: 20px;
	
	
}	
.navbar-nav li
{
	padding: 0 10px;
	float:right;
	text-align: left;
	
}