@CHARSET "ISO-8859-1";


body{
	
	margin: 0;
	padding: 0;
	font-family: "Roboto",Sans-serif;
	
}
header{
	
	position: fixed;
	background: #f8c427;
	padding: 20px;
	width: 100%;
	height: 30px;
	margin-top: -60px;
}

.left_area h3{
	
	color: #ff0606;
	margin: 0;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 600;
}



.logout_btn{
	
	padding: 10px;
	background: #cc0000;
	text-decoration: none;
	float: right;
	margin-top: -70px;
	margin-right: 35px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 400px;
	color: #fff;
	
	 
}

.logout_btn:hover{
	
	background: #d90000;
}

.sidebar{
	
	background: #ff5b5b;
	margin-top: 60px;
	padding-top: 30px;
	positon: fixed;
	left: 0;
	width: 250px;
	height: 900px;
	margin-bottom: 50px
}

.sidebar .prof_img{
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-bottom: 10px;
	
}	

.sidebar h4{
	
	color: #fff;
	margin-top: 0;
	margin-bottom: 20px;
	
}

.sidebar a{
	
	colour: yellow;
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	
	
}

.sidebar a:hover{
	
	background: #91ff91;
}

.sidebar i{
	
	padding-right: 10px;
}
	
label #sidebar_btn{
	
	z-index: 1;
	color: red;
	position: fixed;
	cursor:pointer;
	left: 300px;
	font-size: 20px;
	margin: 5px 0;
	
}

label #sidebar_btn:hover{
	
	color: blue;
	
}

#check:checked ~ .sidebar{
	
	left: -200px;
	
}

#check:checked ~ .sidebar a{
	
	font-size: 20px;
	margin-left: 170px;
	width: 80px;
	
}


.service-img{
	
	width: 150px;
	margin-top: -1cm;
	margin-left: 20px;
}	


	
	#loan{
	width: 100%;
	margin-top: -290px;
	margin-left: 270px;
	}

	#ob{
	width: 100%;
	margin-top: -6.5cm;
	margin-left: 17cm;
	
	}
	
	.service-img2{
	
	width: 100px;
	margin-top: -1cm;
	margin-left: 20px;
}	

#ds{
	
	width: 100%;
	margin-top: -7cm;
	margin-left: 27cm;
}
.service-img3{
	
	width: 100px;
}
}