@CHARSET "ISO-8859-1";

small {
  font-size: 80%;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.form-group {
  margin-bottom: 1rem;
}
.text-center {
  text-align: center !important;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.col-md-6{
	  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.offset-3 {
  margin-left: 25%;
}
 .offset-md-3 {
    margin-left: 25%;
  }
  #table1{
	width: 60%;
	
  }
#submit1{
	
	margin-right: 30px;
}
#submit1{
	margin-left: 30px;
	
}